<a href="https://colab.research.google.com/github/Abinaya-J/Hackerrank_quizzes/blob/master/Practice_Sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Revising the Select Query I

SELECT *
FROM CITY
WHERE CITY.COUNTRYCODE = 'USA' AND CITY.POPULATION > 100000;

In [ ]:
#Revising the Select Query II

SELECT NAME
FROM CITY
WHERE CITY.COUNTRYCODE = 'USA' AND CITY.POPULATION > 120000;

In [ ]:
#Select All

SELECT *
FROM CITY;

In [ ]:
#Select By ID

SELECT *
FROM CITY
WHERE CITY.ID = 1661;

In [ ]:
#Japanese Cities' Attributes

SELECT *
FROM CITY
WHERE CITY.COUNTRYCODE = 'JPN';

In [ ]:
#Japanese Cities' Names

SELECT NAME
FROM CITY
WHERE CITY.COUNTRYCODE = 'JPN';

In [ ]:
# Weather Observation Station 1

SELECT CITY,STATE
FROM STATION;

In [ ]:
#Weather Observation Station 3

SELECT DISTINCT CITY
FROM STATION S
WHERE S.ID % 2 =0;

In [ ]:
#Weather Observation Station 4

SELECT COUNT(CITY)-COUNT(DISTINCT CITY) unique_city_num
FROM STATION;

In [ ]:
#Weather Observation Station 5

SELECT CITY,LENGTH(CITY)
FROM STATION S
ORDER BY LENGTH(CITY) ASC, CITY ASC
LIMIT 1;

SELECT CITY,LENGTH(CITY)
FROM STATION S
ORDER BY LENGTH(CITY) DESC, CITY ASC
LIMIT 1;

In [ ]:
#Weather Observation Station 6

SELECT DISTINCT CITY
FROM STATION S
WHERE S.CITY LIKE 'A%' OR S.CITY LIKE 'E%' OR S.CITY LIKE 'I%' OR S.CITY LIKE 'O%' OR S.CITY LIKE 'U%';

In [ ]:
#Weather Observation Station 7

SELECT DISTINCT CITY
FROM STATION S
WHERE S.CITY LIKE '%A' OR S.CITY LIKE '%E' OR S.CITY LIKE '%I' OR S.CITY LIKE '%O' OR S.CITY LIKE '%U';

In [ ]:
#Weather Observation Station 8

SELECT DISTINCT CITY
FROM STATION S
WHERE (S.CITY LIKE '%A' OR S.CITY LIKE '%E' OR S.CITY LIKE '%I' OR S.CITY LIKE '%O' OR S.CITY LIKE '%U') AND (S.CITY LIKE 'A%' OR S.CITY LIKE 'E%' OR S.CITY LIKE 'I%' OR S.CITY LIKE 'O%' OR S.CITY LIKE 'U%') ;

In [ ]:
#Weather Observation Station 9

SELECT DISTINCT CITY
FROM STATION S
WHERE S.CITY NOT LIKE 'A%' AND S.CITY NOT LIKE 'E%' AND S.CITY NOT LIKE 'I%' AND S.CITY NOT LIKE 'O%' AND S.CITY NOT LIKE 'U%';

In [ ]:
#Weather Observation Station 10

SELECT DISTINCT CITY
FROM STATION S
WHERE S.CITY NOT LIKE '%A' AND S.CITY NOT LIKE '%E' AND S.CITY NOT LIKE '%I' AND S.CITY NOT LIKE '%O' AND S.CITY NOT LIKE '%U';

In [ ]:
#Weather Observation Station 11

SELECT DISTINCT CITY
FROM STATION S
WHERE (S.CITY NOT LIKE '%A' AND S.CITY NOT LIKE '%E' AND S.CITY NOT LIKE '%I' AND S.CITY NOT LIKE '%O' AND S.CITY NOT LIKE '%U') OR (S.CITY NOT LIKE 'A%' AND S.CITY NOT LIKE 'E%' AND S.CITY NOT LIKE 'I%' AND S.CITY NOT LIKE 'O%' AND S.CITY NOT LIKE 'U%');